.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #5094f2;
  color: #ffffff;
  font-size: 31px;
  font-weight: 300;
  text-decoration: none;
  width: 235px;
  height: 53px;
  margin-right: 10px;
}

.button:hover {
  background-color: #054aa3;
}

.button > img {
  width: 1em;
}

.button > span {
  padding-left: 15px;
}

@media (min-width:960px){
  .button {
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    width: 172px;
    height: 41px;
    margin-left: 12px;
  }
}

@media (max-width:639px){
  .button {
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    width: 150px;
    height: 40px;
  }
}