
.grid {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}

.card-image {
  width: 186px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: #5094f2;
}

.card-image img {
  width: 1em;
  height: 1em;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.card-image::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.card-image-red {
  background-color: #d94748;
}

.card-image-yellow {
  background-color: #ebbb11;
}

.card-title {
  color: #5094f2;
  font-size: 34px;
  font-weight: 400;
  text-decoration: none;
}

.card-subtitle {
  color: #909090;
  font-size: 19px;
  font-weight: 400;
}

.card-title:hover {
  text-decoration: underline;
}

@media (max-width:480px) { 
  .card-title {
    font-size: 22px;
    line-height: 32px;
  }

  .card-subtitle {
    font-size: 14px;
  }
}

@media (max-width:639px){
  .card-image img {
    font-size: 50px;
  }
}


@media (max-width:959px) { 
  .grid > .grid-item {
    width: 100%;
    border-bottom: 1px solid #d8d5d5;
    padding-top: 31px;
    padding-bottom: 18px;
  }

  .grid-item-first {
    padding-top: 0;
  }

  .card-image {
    width: 136px;
  }

  .card {
    display: flex;
    align-items: center;
  }

  .card-description {
    padding-left: 27px;
  }
}


@media (min-width:960px) and
       (max-width:1199px){

  .grid {
    margin: 0 -45px;
  }

  .grid > .grid-item {
    padding: 0 45px;
    width: 50%;
    padding-bottom: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

  .card-description {
    text-align: center;
  }
}

@media (min-width:1200px){
  .grid {
    margin: 0 -45px;
  }

  .grid > .grid-item {
    padding: 0 45px;
    width: 33.33%;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 18px;
  }

  .card-image {
    width: 186px;
  }

  .card-image > img {
    width: 82px;
  }

  .card-description {
    text-align: center;
  }

  .card-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 44.42px;
  }
  
  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
  }
}


