.header > .container {  
  padding-top: 22px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.quotes {
  width: 53px;
  height: 52px;
  border-radius: 26px;
  background-color: #5094f2;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 75px;
  font-weight: 400;
  letter-spacing: 0.64px;
}

.quotes > div {
  padding-left: 10px;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  padding-right: 15px;
}

.logo:hover {
  text-shadow: 2px 2px 5px #5094f2;
}

h1 {
  margin: 0;
  padding-left: 17px;
}

@media (max-width:1199px) {
  .header > .container {
    position: relative;
  }
  
  .navbar {
    display: none;
  }

  .navbar-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: +1;
    right: 0;
    bottom: -150%;
    background: #ffffff;
  }

  .navbar-open > a {
    color: #05316b;  
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    padding: 8px;
    border-bottom: 1px solid #054aa3;
  }

  .navbar-open > a:hover {
    background-color: #97bff6;
  }

  .burger {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 58px;
    height: 44px;
    background-color: #5094f2;
    padding: 10px 0;
    border-radius: 3px;
  }
  
  .burger > div {
    width: 37px;
    height: 6px;
    background-color: #ffffff;
  }
}

@media (min-width:1200px) {
  .burger {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav-item {
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
    padding: 7px 10px;
    border: 3px solid transparent;
  }

  .nav-item:hover {
    text-shadow: 1px 1px 2px #5094f2;
  }
}



