.slick-track {
    display: flex;
    align-items: center;
}

.prev, .next {
    display: none;
    height: 100%;
}


@media (min-width:640px){
    .prev {
     display: block;
     position: absolute;
     right: -155%;
     top: 0;
     padding: 40% 20px 40% 100px;
   }
 
   .next {
     display: block;
     position: absolute;
     left: -8%;
     top: 0;
     padding: 40% 40px 40% 20px;
   }
 
   .overlay-image {
     padding-left: 60px;
   }
 }